.pageAdmin
{
    overflow: hidden;    
}

.listeUsers {
    margin-left: 10%;
    margin-right: 5%;
    width: 85%;
    text-align: center;
    margin-top: 30px;
}

@media only screen and (max-width: 576px) {
    .listeUsers {
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

.formulaire
{
    background-color: white;
    border: 1px solid rgba(187, 186, 186, 0.575);
    border-radius: 3px;
    padding-left:10%;
    padding-right:10%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 3%;
}

.titreForm
{
    text-align:center;
    margin-top:3%;
}

#engrenages
{
    margin-top:15%;
    border-radius: 50%;
    border:1px solid rgb(49, 49, 49);
    height:70%;
    background-color: white;
}

.titreAdmin
{
    margin-top:2%;
    font-family: 'Alatsi', sans-serif;

}

table 
{
    background-color: white;
}